<html>
 <head>
  <title>__title__</title>
 </head>
 <body>
  <br><b><font color="red">Important:</font></b>
  <table>
   <tr><td width="120px">SSID</td><td><i><b>__ssid__</b></i></td></tr>
   <tr><td width="120px">Gateway IP</td><td><i><b>__gateway__</b></i></td></tr>
   <tr><td width="120px">SubNet mask</td><td><i><b>__mask__</b></i></td></tr>
   <tr><td width="120px">DNS IP</td><td><i><b>__dns__</b></i></td></tr>
   <tr><td width="120px">Device IP</td><td><i><b>__ip__</b></i></td></tr>
   <tr><td width="120px">Hostname</td><td><i><b>__hostname__</b></i></td></tr>
   <tr><td width="120px">MAC address</td><td><i><b>__mac__</b></i></td></tr>
  </table>
  <br><br>
  <b><font color="red">i2c devices :</font></b><br>
  <i><b>[__device__]</b></i>
 </body>
<html>
